name: Test

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 22 * * 3"
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      matrix:
        node-version:
          - 22.12.x
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "${{ matrix.node-version }}"
          cache: "yarn"
      - name: Install
        run: yarn install --immutable
      - name: Test
        run: yarn test
